@media screen and (max-width: 1100px) {
  
    #nomobile {
        display:none;
    }
    .second-core-container {
      display: flex;
      /* border: solid pink; */
      height: 400px;
      justify-content: center;
  }
    .second-core-container .left-side-second-row {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      font-family: 'Poppins';
      align-items:center;
    }
    .second-core-wrapper {
      display: flex;
      /* border: solid black; */
      height: 100%;
      align-self: center;
      width: 90%;
    }
  .left-side-second-row p {
    /* border: solid purple; */
    padding: 0 0;
    font-size: clamp(1rem, 3vw, 1.25rem);
    width: 100%;
  }



  
  .third-core-container {
    /* border: solid purple; */
    display: flex;
    width: 100%;
    height: 100%;
    
    background-color: #cfd8e2;
    justify-content: center;
}
    .boxes-container {
        display: flex;
        /* border: solid pink; */
        flex-flow: column wrap;
        height: 100%;
        width: 90%;
        justify-content: space-around;
        align-content: center;
        margin: 0px 0px 0px 0px;
        flex-direction: row;
    }
        .third-core-container .box-one {
          display: flex;
          flex-direction: column;
          /* border: solid blue; */
          width: 350px;
          height: 250px;
          text-align: center;
            
        }
        .third-core-container .box-two {
            display: flex;
            flex-direction: column;
            /* border: solid blue; */
            width: 350px;
            height: 250px;
            text-align: center;
        }
        .third-core-container .box-three {
            display: flex;
            flex-direction: column;
            /* border: solid blue; */
            width: 350px;
            height: 250px;
            text-align: center;
        }
            
        .third-core-container .box-four {
            display: flex;
            flex-direction: column;
            /* border: solid blue; */
            width: 350px;
            height: 250px;
            text-align: center;
        }
        .third-core-container .box-five {
            display: flex;
            flex-direction: column;
            /* border: solid blue; */
            width: 350px;
            height: 250px;
            text-align: center;
        }
        .third-core-container .box-six {
            display: flex;
            flex-direction: column;
            /* border: solid blue; */
            width: 350px;
            height: 250px;
            text-align: center;
        }

            /* .box-logo {
                font-size: 10px;
                font-family: "Poppins", sans-serif;
                height: 40%;
                
            } */
            .box-header {
                /* font-size: 18px; */
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                /* height: 20%; */
                /* border: solid blue; */
            }
            .box-statement {
                font-family: "Poppins", sans-serif;
                letter-spacing: .02em;
                font-weight: 400;
                /* font-size: 15px; */
               
                
            }
            
           .logo-container {
             margin: 0 1rem;
           }
                
  
  
  }
  


    